<a href="https://colab.research.google.com/github/aman-0005/my-colab-project/blob/main/Assigmenr_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types and Structures Questions

1. **What are data structures, and why are they important?**

    Ans-> Way of organizing and storing data so that it can be accessed and effeciently.


2. **Explain the difference between mutable and immutable data types with examples.**

    Ans-> Mutable: Can be changed (e.g., lists: my_list.append(4)).
    Immutable: Cannot be changed (e.g., strings: my_string[0] = "h" raises an error).


3. **What are the main differences between lists and tuples in Python?**

    Ans-> Lists are mutable and tuples are imutable, list use '[]' and tuples use  '()', list for changing data and tuples for fix data.


4. **Describe how dictionaries store data?**

    Ans-> Disctionaries store data in the form of key value pair.


5. **Why might you use a set instead of a list in Python?**

    Ans-> Sets store unique items and automatically remove duplicates.


6. **What is a string in Python, and how is it different from a list?**

    Ans-> A string is a sequence of characters and is immutable, while a list can hold multiple data types and is mutable.


7. **How do tuples ensure data integrity in Python?**

    Ans-> Tuples are immutable, preventing accidental changes to the data.


8. **What is a hash table, and how does it relate to dictionaries in Python?**

    Ans-> A hash table maps keys to values, and Python dictionaries use hash tables for efficient data retrieval.


9. **Can lists contain different data types in Python?**

    Ans-> Yes, lists can contain different data types (e.g., [1, "Hello", 3.14]).

  
10. **Explain why strings are immutable in Python?***

    Ans-> Strings are immutable for performance and memory management reasons.


11. **What advantages do dictionaries offer over lists for certain tasks?**

    Ans-> Dictionaries allow for faster lookups and direct access to values using keys.


12. **Describe a scenario where using a tuple would be preferable over a list?**

    Ans-> Use a tuple for fixed collections, like coordinates (x, y).
  

13. ** How do sets handle duplicate values in Python?**

    Ans-> Sets automatically remove duplicates when adding elements.


14. **How does the “in” keyword work differently for lists and dictionaries?**

    Ans-> Lists: Checks for element presence (e.g., 2 in my_list).

    Dictionaries: Checks for key presence (e.g., 'a' in my_dict)


15. **Can you modify the elements of a tuple? Explain why or why not?**

    Ans-> No, we can't  modify the element of a tuple because it is imutable.


16. **What is a nested dictionary, and give an example of its use case?**

    Ans-> A nested dictionary contains dictionaries as values.

    Exapmle: students = {"Aman": {"age": 20}, "Rahul": {"age": 22}}

   
17. **Describe the time complexity of accessing elements in a dictionary?**

    Ans-> Average time complexity is O(1) for quick access.


18. **In what situations are lists preferred over dictionaries?*

    Ans-> Lists are preferred when order matters or for sequential access.


19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**

    Ans-> Dictionaries do not maintain the order of elements, affecting how data is retrieved.


20. ** Explain the difference between a list and a dictionary in terms of data retrieval.**

    Ans-> List: Retrieve data using an index (e.g., my_list[0] for the first item).

    Dictionary: Retrieve data using a key (e.g., my_dict['key'] for the value associated with 'key').

# Practical Questions

1.  **Write a code to create a string with your name and print it.**

In [1]:
my_name = "Aman"
print(my_name)

Aman

2. **Write a code to find the length of the string "Hello World".**

In [2]:
str = "Hello World"
len(str)

11

3. **Write a code to slice the first 3 characters from the string "Python Programming"**.

In [5]:
str = "Python Programming"
str[:3]

'Pyt'

4. **Write a code to convert the string "hello" to uppercase.**

In [11]:
a = "hello"
a.upper()

'HELLO'

5. **Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [12]:
Fruits = "I like apple"
Fruits.replace("apple", "orange")

'I like orange'

6. **Write a code to create a list with numbers 1 to 5 and print it.**

In [16]:
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

7. ** Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [20]:
list = [1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

8. **Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [21]:
list = [1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

9. **Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [22]:
list = ['a','b','c','d']
list[1]

'b'

10. **Write a code to reverse the list [10, 20, 30, 40, 50].**

In [25]:
list = [10,20,30,40,50]
list.reverse()
list

[50, 40, 30, 20, 10]

11. **Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [26]:
a = (100,200,300)
print(a)

(100, 200, 300)

12. **Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [29]:
tuple = ('red', 'green', 'blue', 'yellow')
tuple[-2]

'blue'

13. **Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [33]:
tuple = (10,20,5,15)
num = min(tuple)
print(num)

5

14. **Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [34]:
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

15. **Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [36]:
tuple = ("apple", "banana", "orange")
"kiwi" in tuple

False

16. **Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [37]:
set = {'a','b','c'}
set

{'a', 'b', 'c'}

17. **Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [42]:
set = {1,2,3,4,5}
set.clear()
set

set()

18.  **Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [43]:
set = {1,2,3,4}
set.remove(4)
set

{1, 2, 3}

19. **Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [49]:
set_a = {1,2,3}
set_b = {3,4,5}
set = set_a.union(set_b)
print(set)

{1, 2, 3, 4, 5}

20. **Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [51]:
set_a = {1,2,3}
set_b = {2,3,4}
set = set_a.intersection(set_b)
print(set)

{2, 3}

21. **Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [53]:
my_dict = {"name": "Aman", "age": 20, "city": "Delhi"}
print(my_dict)

{'name': 'Aman', 'age': 20, 'city': 'Delhi'}

22. **Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [55]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. **Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [56]:
my_dict = {'name': 'Alice', 'age': 30}
my_dict['name']

'Alice'

24. **Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [60]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. **Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [61]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
'city' in my_dict

True

26. **Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [62]:
list = [1,2,3,4,5]
tuple = (1,2,3,4,5)
my_dict = {"name": "Aman", "age": 20, "city": "Delhi"}
print(list)
print(tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Aman', 'age': 20, 'city': 'Delhi'}

27. **Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)**

In [66]:
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [9, 20, 37, 56, 66]

28. **Write a code to create a list with strings and print the element at the third index.**

In [67]:
list = [1, 2, 3, "AMAN"]
list[3]

'AMAN'

29. **Write a code to combine two dictionaries into one and print the result.**

In [69]:
my_dict1 = {'a': 1, 'b': 2}
my_dict2 = {'c': 3, 'd': 4}
my_dict1.update(my_dict2)
print(my_dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. **Write a code to convert a list of strings into a set.**

In [72]:
str_list = ["apple", "bnanana", "mango", "dates"]
str_set = set(str_list)
print(str_set)

TypeError: 'set' object is not callable